node_modules
# Keep environment variables out of version control
.env
node_modules/**/*
npm-debug.*
prisma/migrations/**/*
*.lock*
# macOS
.DS_Store
dist/**/*
dist
dist/app.controller.d.ts
dist/app.controller.js
dist/app.controller.js.map
dist/app.module.js
dist/app.module.js.map
dist/tsconfig.build.tsbuildinfo
dist/app.controller.d.ts
dist/app.controller.js
dist/app.controller.js.map
dist/app.module.js
dist/app.module.js.map
dist/tsconfig.build.tsbuildinfo
